<h1>{{title}}</h1>

<div class="component">
    <app-custom-button text="111111111" color="blue"></app-custom-button>
</div>

<div class="component">
    <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
    <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>
</div>

<div class="component">
    <app-custom-tag [text]="'test custom tag'"></app-custom-tag>
</div>

<div class="component">
    <app-custom-switch [openText]="'yes'" [closeText]="'no'"></app-custom-switch>
</div>

<div class="component">
    <nz-date-picker [nzDateRender]="tplRender"></nz-date-picker>
    <ng-template #tplRender let-current>
        <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
            {{ current.getDate() }}
        </div>
    </ng-template>
</div>